.audio {
  .title-box {
    margin-bottom: 40px;
  }

  .list-type-img {
    margin-bottom: 40px;
  }

  @include responsive(D) {
    .list-type-img {
      .item {
        .info-box {
          h3 {
            @include line-clamp(1);
          }
        }
      }
    }

    .list-type-text {
      margin-left: 32px;
    }
  }
}
