.contact {
  display: flex;
  flex-wrap: wrap;

  .title-box {
    width: 100%;
    padding: 24px $sm-margin + $gutter / 2 64px;
    background-color: #e4d9c5;
    order: 2;
  }

  .img-box {
    width: 100%;
    order: 1;

    .slide-box {
      .slide-list {
        .slide-item {
          height: 480px;
        }
      }
    }
  }

  @include responsive(T) {
    .title-box {
      width: 50%;
      padding: 24px $md-margin + $gutter / 2 64px;
      order: 1;
    }

    .img-box {
      width: 50%;
      order: 2;
    }
  }

  @include responsive(D) {
    .title-box {
      padding-left: 8%;

      p {
        width: 50%;
        font-size: 18px;
      }
    }

    .img-box {
      height: 600px;

      .slide-box {
        .slide-list {
          .slide-item {
            height: 600px;
          }
        }
      }
    }
  }
}
