.contact {
  display: flex;
  flex-wrap: wrap;

  .title-box {
    width: 100%;
    padding: 40px 20px 56px;
    background-color: #e4d9c5;
    order: 2;
  }

  .img-box {
    width: 100%;
    order: 1;

    .slide-box {
      .slide-list {
        .slide-item {
          height: 480px;
        }
      }
    }
  }

  @include responsive(T) {
    .title-box {
      width: 50%;
      order: 1;
      padding-top: 64px;
      padding-left: 6%;
    }

    .img-box {
      width: 50%;
      order: 2;
    }
  }

  @include responsive(D) {
    .title-box {
      padding-top: 80px;

      .inner {
        position: absolute;
        left: 50%;
        transform: translateX(-120%);
      }

      p {
        width: 50%;
        font-size: 18px;
      }
    }

    .img-box {
      height: 600px;

      .slide-box {
        .slide-list {
          .slide-item {
            height: 600px;
          }
        }
      }
    }
  }
}
