.newsletter {
  .title-box {
    text-align: center;
    margin-bottom: 32px;
  }

  .form-email {
    @include flex-box($jc: between);
    position: relative;
    margin: 0 12px 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 12px;

    input[type='email'] {
      font: 400 14px/1 $sans-serif;
    }

    button[type='submit'] {
      font: 600 12px/1 $sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      background-color: #000;
      color: #fff;
      border-radius: 100px;
      padding: 8px 12px;
    }
  }

  .form-checkbox {
    text-align: center;

    input[type='checkbox'] {
      margin-right: 4px;
    }

    label {
      font: 400 14px/1 $serif;
      vertical-align: 2px;
    }
  }

  @include responsive(T) {
    .container {
      .row {
        justify-content: center;
      }
    }
  }

  @include responsive(D) {
    background-color: #e8e4d7;
    padding: 120px 0;

    .container {
      .row {
        justify-content: space-between;
      }
    }

    .title-box {
      text-align: left;

      .title {
        font-size: 56px;
      }
    }

    .form-email {
      margin-top: 20px;
    }

    .form-checkbox {
      text-align: left;
      margin-left: 12px;
    }
  }
}
