.our-shop {
  .title-box {
    .title-desc {
      margin-bottom: 40px;
    }
  }

  .slide-card-box {
    .controls {
      padding-right: 20px;
    }

    .slide-card-list {
      .slide-card-item {
        img {
          height: 450px;
        }
      }
    }
  }

  @include responsive(D) {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .title-box {
      .title-desc {
        width: 70%;
      }
    }
  }
}
