.footer-mo {
  &-box {
    border-top: 3px solid #000;
    padding: 12px 0 40px;
    @include flex-box($jc: between);

    .footer-legal {
      li {
        font: 400 14px/1 $sans-serif;
        margin-bottom: 6px;

        &:first-child {
          font: 600 12px/1 $sans-serif;
          margin-bottom: 12px;
        }
      }
    }

    .footer-social {
      &-item {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-link {
        display: block;
        @include flex-box($jc: start, $ai: end);

        span {
          font: 400 18px/1 $serif;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  @include responsive(D) {
    display: none;
  }
}

.footer-pc {
  display: none;

  .footer-menu-box {
    border-top: 4px solid #000;
    padding: 24px 0 120px;
    @include flex-box($jc: between, $ai: start);
    gap: 40px;

    .copyright {
      display: inline-block;
      width: 60%;
      font: 400 14px/1 $sans-serif;
    }

    .footer-menu {
      strong {
        font: 400 20px/2 $serif;
        text-transform: capitalize;
      }

      ul li {
        font: 400 15px/2 $sans-serif;
      }
    }
  }

  @include responsive(D) {
    display: block;
  }
}
