.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $header-level;
  padding: 10px 0;

  .col-sm-4 {
    @include flex-box($jc: between);
  }

  .logo {
    width: 120px;
    text-transform: uppercase;
    font: 400 24px/1 $serif;

    &-white {
      @include object-fit;
    }

    &-black {
      display: none;
    }
  }

  button {
    color: #fff;

    &.btn-search {
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }

    &.btn-menu {
      width: 28px;
      height: 28px;
      position: relative;
      top: 1px;
    }
  }

  @include responsive(T) {
    background-color: #fff;
    height: 120px;

    .col-sm-4 {
      justify-content: flex-end;
    }

    .logo {
      width: 70%;
      max-width: 900px;
      @include absolute-center-X;
      top: 60%;

      &-white {
        display: none;
      }

      &-black {
        @include object-fit;
      }
    }

    button {
      color: #000;

      &.btn-search {
        width: 27px;
        height: 27px;
        margin-right: 12px;
      }

      &.btn-menu {
        width: 32px;
        height: 32px;
        top: 2px;
      }
    }
  }

  @include responsive(D) {
    height: 160px;
  }
}
