.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $header-level;
  padding: 10px 0;

  .container {
    height: 100%;
    .row {
      height: 100%;
      .col-sm-4 {
        height: 100%;
        @include flex-box($jc: end);
      }
    }
  }

  .logo {
    width: 120px;

    &-white {
      @include object-fit;
    }

    &-black {
      display: none;
    }
  }

  button {
    color: #fff;

    &.btn-search {
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }

    &.btn-menu {
      width: 28px;
      height: 28px;
      position: relative;
      top: 1px;
    }
  }

  @include responsive(T) {
    background-color: #fff;
    height: 120px;
    transition: height 0.5s;

    .logo {
      width: 70%;
      max-width: 900px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scale(1);
      top: 64%;
      transition: transform 0.3s;

      &-white {
        display: none;
      }

      &-black {
        @include object-fit;
      }
    }

    .btn-box {
      position: relative;
      top: -20px;

      button {
        color: #000;

        &.btn-search {
          width: 27px;
          height: 27px;
          margin-right: 12px;
        }

        &.btn-menu {
          width: 32px;
          height: 32px;
          top: 2px;
        }
      }
    }
  }

  @include responsive(D) {
    height: 160px;
  }
}

.header.on {
  @include responsive(T) {
    height: 80px;

    .logo {
      transform: translateX(-50%) scale(0.3);
      top: auto;
    }

    .btn-box {
      top: auto;
    }
  }

  @include responsive(D) {
    .logo {
      transform: translateX(-50%) scale(0.2);
    }
  }
}
