.list-type-img {
  .item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: block;
      @include flex-box($jc: start, $ai: start);
      flex-wrap: wrap;
      gap: 0 16px;
    }

    .img-box {
      width: 30%;

      img {
        @include object-fit;
      }
    }

    .info-box {
      padding-top: 4px;

      h3 {
        font: 400 20px/1.4 $serif;
        margin-bottom: 2px;
      }

      p {
        font: 400 14px/1.4 $sans-serif;
      }
    }
  }

  @include responsive(T) {
    @include flex-box($ai: start);
    flex-wrap: wrap;
    gap: 20px;

    .item {
      width: calc(50% - 10px);
      flex-shrink: 0;

      a {
        .img-box {
          width: 100%;
          margin-bottom: 6px;
        }
      }
    }
  }
}

.list-type-text {
  .item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      @include flex-box($jc: between);
      border-bottom: 1px solid #000;
      padding-bottom: 8px;
    }

    .content-title {
      font: 400 20px/1 $serif;
    }

    .btn-more {
      width: 24px;
      height: 24px;
    }
  }
}
