.box {
  margin-bottom: 80px;

  .title {
    font: 400 48px/1.2 $serif;
  }

  .title-desc {
    font: 400 15px/1.4 $sans-serif;
  }

  @include responsive(T) {
    .title-box {
      h1 {
        font-size: 56px;
      }
    }
  }
}
