.box {
  margin-bottom: 120px;

  .title {
    font: 400 48px/1.2 $serif;
    margin-bottom: 20px;
  }

  .title-desc {
    font: 400 15px/1.4 $sans-serif;
  }

  @include responsive(T) {
    margin-bottom: 180px;

    .title {
      font-size: 56px;
      margin-bottom: 32px;
    }
  }

  @include responsive(D) {
    margin-bottom: 240px;

    .title {
      font-size: 72px;
      margin-bottom: 48px;
    }

    .title-desc {
      font-size: 16px;
      line-height: 1.6;
    }
  }
}
